:root {
    --red: #cd192d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

/* --------------------
    header
--------------------- */

header {
    background-color: #000000;
    padding: 2.5rem;
}

header img {
    width: 5rem;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    letter-spacing: 1rem;
    margin-left: 3rem;
    color: #ffffff;
    vertical-align: middle;
}

/* --------------------
    main container
--------------------- */

.container {
    max-width: 1040px;
    margin: 10rem auto;
    border-radius: 20px;
    position: relative;
    background-color: #f4f4f4;
}

/* --------------------
    bike stuff
--------------------- */

#mbike {
    position: absolute;
    left: 50%;
    top: -30%;
    text-align: center;
    transform: translate(-50%, 30%);

}

#mbike img {
    width: 20rem;
    margin: auto;
}

#model span {
    font-size: 1.2rem;
    font-weight: bold;
    vertical-align: middle;
}

#model small {
    color: #fefefe;
    margin-left: 0.3rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
    background-color: #cd192d;
    vertical-align: middle;
}

#tiger {
    color: #101080;
}

/* --------------------
    MAINTENANCE LIST
--------------------- */

.maintenance {
    width: 70%;
    padding: 6rem;
    margin: auto;
}

.maintenance h3 {
    font-size: 1.3rem;
    margin-top: 4rem;
}

.maintenance li {
    list-style: none;
    margin-top: 1.2rem;
}

.circle {
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 1rem;
    border-radius: 100%;
    text-align: center;
    line-height: 1.75rem;
    font-weight: bolder;
}

.circle.done {
    background-color: limegreen;
}

.circle.todo {
    background-color: rgb(205, 50, 50);
}


.maintenance h3:before {
    content: "\25BC";
}

.tag {
    display: inline-block;
    padding: 2px;
    font-size: 12px;
    margin-left: 1rem;
    border-radius: 0.2rem;
    color: #ffffff;
    box-shadow: 1px 2px #3f3f3f;
}

.important {
    background-color: #cd192d;
}

.optional {
    background-color: #cacd19;
}

.suggested {
    background-color: #1958cd;
}